<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_js_bg_image sayit_block_with_fimage" data-src="/images/front/clipart/route_select.jpg" data-height="400">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <h1 class="sayit_post_title">ROUTE SELECT</h1>
  </div>
</div>

<!-- Content -->
<div class="sayit_container content_box_narrow sayit_right_sidebar" style="width: 100%;">
  <div class="row sayit_right_sidebar">
    <!-- Content Area -->
    <div class="col col-12 sayit_content content_box_bg_color_off" style="margin-top: 60px;">
      <!-- Featured Posts -->
      <div class="row">
        <div class="col col-6 push-center">
          <div class="sayit_widget_title">
            <div class="sayit_widget_container sayit_text_align_center sayit_mb_60">
              <h2 class="sayit_element_heading sayit_view_type_1">Route Map</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="sayit_featured_posts_widget">
        <div class="sayit_widget_container sayit_mb_10">
          <div class="sayit_featured_posts sayit_items_3">
            <!-- Item 1 -->
            <div class="sayit_posts_item" style="width: 30%;">
              <div class="sayit_featured_posts sayit_items_2">
                <!-- Item 1 -->
                <% if @favorite_contents.present? %>
                    <% @favorite_contents.each do |favorite_content| %>
                        <div class="sayit_posts_item" style="width: 50%;">
                          <div class="sayit_fimage_cont">
                            <%= link_to tour_select_path(favorite_content) do %>
                                <% if favorite_content&.main_image.present? %>
                                    <% image_tag favorite_content&.main_image.show.url %>
                                <% else %>
                                    <img src="/images/front/clipart/places/germany/germany-1.jpg" alt="" />
                                <% end %>
                            <% end %>
                          </div>

                          <div class="sayit_meta_cont">
                            <div class="sayit_post_category">
                              <%= favorite_content.category&.title %>
                            </div>

                            <span>/</span>

                            <div class="sayit_post_date"><%= favorite_content&.the_time_required %></div>
                          </div>

                          <h4 class="sayit_post_title">
                            <%= link_to favorite_content&.title, tour_select_path(favorite_content) %>
                          </h4>

                          <div class="sayit_excerpt index_description">
                            <p><%= favorite_content&.index_description %></p>
                          </div>
                          <div class="row align-middle sayit_tags_and_socials_cont">
                            <div class="sayit_post_tags col" style="font-size: 16px;">
                              <%= link_to '追加する', add_like_destinations_path(content_id: favorite_content), class: 'btn btn-default' %>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
            </div>

            <!-- Item 2 -->
            <div class="sayit_posts_item" style="width: 40%;">
              <div id="gmap"></div>
              <div id="route"></div>

              <div style="margin-top: 30px;">
                <%= button_tag '印刷する', onclick: 'window.print();' %>
              </div>
            </div>

            <!-- Item 3 -->
            <div class="sayit_posts_item" style="width: 30%;">
              <div class="col col-12 sayit_content content_box_bg_color_on">
                <div class="sayit_tiny">
                  <!-- Widget Blog Listing -->
                  <div class="sayit_blog_listing_widget">
                    <div class="sayit_widget_container">
                      <div class="sayit_modern_blog_listing_cont">
                        <div class="sayit_blog_item post_item_standard">
                          <a class="sayit_blog_item_wrapper" href="post_standard.html">
                            <div class="row">
                              <div class="col col-12 sayit_blog_item_content_cont">
                                <h4 class="sayit_post_title">出発地: <%= @destination.departure %></h4>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="moving_distance">
                          移動: <span id="time_0"></span>分 / 距離: <span id="distance_0"></span> km
                        </div>
                        <% if @like_contents.present? %>
                            <% @like_contents.each.with_index(1) do |like_content, i| %>
                                <div class="sayit_blog_item post_item_standard">
                                  <%= link_to no_like_destinations_path(content_id: like_content), class: 'sayit_blog_item_wrapper' do %>
                                      <div class="row">
                                        <div class="col col-4 sayit_blog_item_fimage_cont sayit_js_bg_image" data-src="<%= like_content&.main_image.content.url %>"></div>

                                        <div class="col col-8 sayit_blog_item_content_cont">
                                          <div class="sayit_blog_item_category">
                                            <div class="sayit_post_categories">
                                              <%= like_content.category&.title %>
                                              /
                                              <%= like_content&.the_time_required %>
                                            </div>
                                          </div>

                                          <h4 class="sayit_post_title"><%= like_content&.title %></h4>

                                          <div class="sayit_post_date">
                                          </div>
                                        </div>
                                      </div>
                                  <% end %>
                                </div>
                                <div class="moving_distance">
                                  移動: <span id="time_<%= i %>"></span>分 / 距離: <span id="distance_<%= i %>"></span> km
                                </div>
                            <% end %>
                        <% end %>
                        <div class="sayit_blog_item post_item_standard">
                          <a class="sayit_blog_item_wrapper" href="post_standard.html">
                            <div class="row">
                              <div class="col col-12 sayit_blog_item_content_cont">
                                <h4 class="sayit_post_title">到着地: <%= @destination.arrival %></h4>
                              </div>
                            </div>
                          </a>

                          <div class="sayit_blog_item_divider"></div>
                        </div>
                        <%= form_tag complete_destinations_path do %>
                            <div class="sayit_blog_item post_item_standard">
                              <a class="sayit_blog_item_wrapper" href="post_standard.html">
                                <div class="row">
                                  <div class="col col-12 sayit_blog_item_content_cont">
                                    <h4 class="sayit_post_title">合計時間: <span id="all_time"></span>分</h4>
                                    <h4 class="sayit_post_title">合計距離: <span id="all_distance"></span> km</h4>
                                    <% if @like_contents.present? %>
                                        <% total_amount = @like_contents.pluck(:amount).sum %>
                                        <h4 class="sayit_post_title">合計金額: <%= number_to_currency(total_amount) %></h4>
                                    <% end %>
                                  </div>
                                </div>
                              </a>
                              <% if @like_contents.present? %>
                                <%= hidden_field_tag :total_amount, total_amount %>
                              <% end %>
                              <%= hidden_field_tag :total_distance %>
                              <%= hidden_field_tag :total_time %>
                              <%= submit_tag '完了する' %>
                            </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sayit_mb_78 sayit_sm_mb_0"></div>
    </div>

    <!-- Sidebar Area -->
  </div>
</div>


<script>
  function initMap() {
    var time_array = [];
    var distance_array = [];
    var request = {
      origin: new google.maps.LatLng(<%= @destination.start_latitude %>,<%= @destination.start_longitude %>),
      destination: new google.maps.LatLng(<%= @destination.end_latitude %>,<%= @destination.end_longitude %>),
      <% if @like_contents.present? %>
      waypoints: [
        <% @like_contents.each do |like_content| %>
        { location: new google.maps.LatLng(<%= like_content.latitude %>,<%= like_content.longitude %>) },
        <% end %>
      ],
      <% end %>
      travelMode: google.maps.DirectionsTravelMode.WALKING, // 交通手段(歩行WALKING。DRIVINGの場合は車)
    };

    // マップの生成
    var map = new google.maps.Map(document.getElementById("gmap"), {
      center: new google.maps.LatLng(<%= @destination.start_latitude %>,<%= @destination.start_longitude %>),
      zoom: 14
    });

    var d = new google.maps.DirectionsService();
    var r = new google.maps.DirectionsRenderer({
      map: map,
      preserveViewport: true,
    });
    // ルート検索
    d.route(request, function(result, status){
      if (status == google.maps.DirectionsStatus.OK) {
        r.setDirections(result);

        var legs = result.routes[0].legs

        for (var i in legs) {
          var time_change = TimeChange(legs[i].duration.text);
          var distance_change = DistanceChange(legs[i].distance.text);
          distance_box = document.getElementById('distance_' + i)
          distance_box.innerHTML = distance_change;
          distance_array.unshift(distance_change);

          time_box = document.getElementById('time_' + i)
          time_box.innerHTML = time_change;
          time_array.unshift(time_change);
        }
          <% if @like_contents.present? %>
            <% @like_contents.each do |like_content| %>
              time_array.unshift(<%= like_content.time_required %>);
            <% end %>
          <% end %>
        var all_time = document.getElementById('all_time')
        var total_time = document.getElementById('total_time')
        var all_distance = document.getElementById('all_distance')
        var total_distance = document.getElementById('total_distance')
        all_time.innerHTML = Sum(time_array)
        total_time.value = DistanceSum(time_array)
        all_distance.innerHTML = DistanceSum(distance_array)
        total_distance.value = DistanceSum(distance_array)
      }
    });
  }

  function TimeChange(time_string) {
    array_time = time_string.split("時間")
    if (array_time.length == 2) {
      var hour = Number(array_time[0])
      var full_hour = 60 * hour

      var minute_string = array_time[1].split("分")[0]
      var minute = Number(minute_string)
      var int_time = full_hour + minute
    }else{
      var select_time_string = time_string.split("分")[0]
      var int_time = Number(select_time_string)
    }
    return int_time;
  }

  function DistanceChange(distance_string) {
    return Number(distance_string.split(" km")[0])
  }

  function Sum(arr) {
    sum = arr.reduce((a,x) => a+=x);
    return sum;
  }

  function DistanceSum(arr) {
    var new_arr = []
    for (var i in arr) {
      var distance = arr[i]
      var new_distance = distance * 10
      new_arr.unshift(new_distance);
    }
    sum = new_arr.reduce((a,x) => a+=x);

    var total_sum = sum / 10
    return total_sum;
  }

  function isInteger(x) {
    return Math.round(x) === x;
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQy70gYOp30pnhINaioRUmd-Eahmc-XUA&callback=initMap" async defer></script>