<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_js_bg_image sayit_block_with_fimage" data-src="/images/front/clipart/back-7.jpg" data-height="800">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <h1 class="sayit_post_title">Tourist Spot </h1>
  </div>
</div>

<!-- Content -->
<div class="sayit_container content_box_narrow sayit_right_sidebar" style="width: 100%;">
  <div class="row sayit_right_sidebar">
    <!-- Content Area -->
    <div class="col col-12 sayit_content content_box_bg_color_off" style="margin-top: 60px;">
      <!-- Featured Posts -->
      <div class="row">
        <div class="col col-6 push-center">
          <div class="sayit_widget_title">
            <div class="sayit_widget_container sayit_text_align_center sayit_mb_60">
              <h2 class="sayit_element_heading sayit_view_type_1">See My Favorite Travels</h2>
              <p class="sayit_subtitle_cont">Mauris efficitur turpis sit amet sem accumsan iaculis. Vivamus nec dolor convallis, viverra urna at, fermentum nulla.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sayit_featured_posts_widget">
        <div class="sayit_widget_container sayit_mb_10">
          <div class="sayit_featured_posts sayit_items_3">
            <!-- Item 1 -->
            <div class="sayit_posts_item" style="width: 30%;">
              <div class="sayit_featured_posts sayit_items_2">
                <!-- Item 1 -->
                <% if @favorite_contents.present? %>
                    <% @favorite_contents.each do |favorite_content| %>
                        <div class="sayit_posts_item" style="width: 50%;">
                          <div class="sayit_fimage_cont">
                            <%= link_to tour_select_path(favorite_content) do %>
                                <% if favorite_content&.main_image.present? %>
                                    <% image_tag favorite_content&.main_image.content.url %>
                                <% else %>
                                    <img src="/images/front/clipart/places/germany/germany-1.jpg" alt="" />
                                <% end %>
                            <% end %>
                          </div>

                          <div class="sayit_meta_cont">
                            <div class="sayit_post_category">
                              <%= favorite_content.category&.title %>
                            </div>

                            <span>/</span>

                            <div class="sayit_post_date"><%= favorite_content&.the_time_required %></div>
                          </div>

                          <h4 class="sayit_post_title">
                            <%= link_to favorite_content&.title, tour_select_path(favorite_content) %>
                          </h4>

                          <div class="sayit_excerpt index_description">
                            <p><%= favorite_content&.index_description %></p>
                          </div>
                          <div class="row align-middle sayit_tags_and_socials_cont">
                            <div class="sayit_post_tags col" style="font-size: 16px;">
                              <%= link_to '追加する', add_like_destinations_path(content_id: favorite_content), class: 'btn btn-default' %>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
            </div>

            <!-- Item 2 -->
            <div class="sayit_posts_item" style="width: 40%;">
              <div class="sayit_fimage_cont">
                <a href="post_image.html">
                  <img src="/images/front/clipart/recent_posts/img-2.jpg" alt="">
                </a>
              </div>
            </div>

            <!-- Item 3 -->
            <div class="sayit_posts_item" style="width: 30%;">
              <div class="col col-12 sayit_content content_box_bg_color_on">
                <div class="sayit_tiny">
                  <!-- Widget Blog Listing -->
                  <div class="sayit_blog_listing_widget">
                    <div class="sayit_widget_container">
                      <div class="sayit_modern_blog_listing_cont">
                        <% if @like_contents.present? %>
                            <% @like_contents.each do |like_content| %>
                                <div class="sayit_blog_item post_item_standard" id="111">
                                  <%= link_to no_like_destinations_path(content_id: like_content), class: 'sayit_blog_item_wrapper' do %>
                                      <div class="row">
                                        <div class="col col-4 sayit_blog_item_fimage_cont sayit_js_bg_image" data-src="<%= like_content&.main_image.content.url %>"></div>

                                        <div class="col col-8 sayit_blog_item_content_cont">
                                          <div class="sayit_blog_item_category">
                                            <div class="sayit_post_categories">
                                              <%= like_content.category&.title %>
                                              /
                                              <%= like_content&.the_time_required %>
                                            </div>
                                          </div>

                                          <h4 class="sayit_post_title"><%= like_content&.title %></h4>

                                          <div class="sayit_post_date">
                                          </div>
                                        </div>
                                      </div>
                                  <% end %>
                                  <div class="sayit_blog_item_divider"></div>
                                </div>
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sayit_mb_78 sayit_sm_mb_0"></div>
    </div>

    <!-- Sidebar Area -->
  </div>
</div>