<div class="box box-default">
  <%= nested_form_for @query, as: :query, url: admin_price_ranges_path, method: :get do |f| %>
      <div class="box-header with-border">
        <h3 class="box-title"><%= @price_ranges.total_count %> 件</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <div class="box-body" style="">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group row">
              <label for="example-search-input" class="col-sm-3 col-form-label"><%= PriceRange.human_attribute_name :begining_price %></label>
              <div class="col-sm-9">
                <%= f.email_field :begining_price, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-sm-3 col-form-label"><%= PriceRange.human_attribute_name :title %></label>
              <div class="col-sm-9">
                <%= f.email_field :title, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="form-group row">
              <label for="example-search-input" class="col-sm-3 col-form-label"><%= PriceRange.human_attribute_name :end_price %></label>
              <div class="col-sm-9">
                <%= f.email_field :end_price, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <div class="box-header">
            <%= link_to '新規作成', new_admin_price_range_path, class: 'btn btn-primary btn-lg' %>

            <%= f.submit '検索', class: 'btn btn-primary btn-lg bg-olive' %>
          </div>
        </div>
      </div>
  <% end %>
</div>