  <%= render partial: 'search_form' %>
  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body no-padding">
          <table class="table table-bordered table-responsive">
            <tr>
              <th></th>
              <th><%= PriceRange.human_attribute_name :title %></th>
              <th><%= PriceRange.human_attribute_name :begining_price %></th>
              <th><%= PriceRange.human_attribute_name :end_price %></th>
              <th></th>
            </tr>
            <% @price_ranges.each.with_index(1) do |price_range, i| %>
                <tr style="line-height: 65px;">
                  <td><%= i %></td>
                  <td><%= price_range.name %></td>
                  <td><%= price_range.email %></td>
                  <td colspan="2">
                    <%= link_to raw('<i class="fa fa-edit"></i> 編集'), edit_admin_price_range_path(price_range), class: 'btn btn-app bg-blue' %>
                    <%= link_to raw('<i class="fa fa-trash-o "></i> 削除'), admin_price_range_path(price_range), method: :delete, data: { confirm: t('messages.destroy_confirm') }, class: 'btn btn-app bg-red'  %>
                  </td>
                </tr>
            <% end %>
          </table>

          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm pull-right">
              <%= paginate @price_ranges %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
