<!DOCTYPE html>
<html lang="en" class="sayit_transparent_header sayit_sticky_menu_on sayit_page_mode_standard">
<head>
  <title>Tourism</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <!-- CSS Files -->
  <%= stylesheet_link_tag 'front/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'front/owl.carousel.css' if controller_name == 'contents' %>
  <%= javascript_include_tag 'front/application' %>
</head>

<body class="sayit_js_bg_color" data-bgcolor="#ffffff">
<!-- Additional Sidebar -->
<div class="sayit_additional_sidebar_cont">
  <a class="sayit_additional_sidebar_close_button" href="javascript:void(0)"><i class="fa fa-times"></i></a>

  <div class="sayit_additional_sidebar">
    <div class="widget widget_text">
      <h6 class="widgettitle">Weather</h6>

      <div class="col col-12 sayit_content">
        <div class="sayit_tiny">
          <div class="sayit_blog_listing_widget">
            <div class="sayit_widget_container">
              <div class="sayit_modern_blog_listing_cont">
                <div id="weather"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sayit_additional_overlay"></div>

<!-- Header -->
<header>
  <div class="row align-middle sayit_logo_left">
    <div class="col sayit_logo_container col-2">
      <div class="sayit_logo_cont">
        <a class="sayit_image_logo sayit_retina" href="/"></a>
      </div>

      <div class="sayit_menu_mobile_trigger">
        <div class="sayit_trigger_container">
          <div class="sayit_trigger_inner">

          </div>
        </div>
      </div>
    </div>

    <div class="col sayit_menu_container col-8">
      <div class="sayit_menu_cont">
        <div class="sayit_additional_button_cont">
          <a class="sayit_additional_sidebar_trigger" href="javascript:void(0)" title="Open Additional Sidebar"><i class="fa fa-cloud"></i></a>
        </div>

        <div class="sayit_menu_inner">
          <ul class="sayit_menu sayit_header_menu">
            <% if session[:destination_id].blank? %>
                <li class="menu-item">
                  <%= link_to 'Setting', new_destination_path %>
                </li>
            <% else %>
                <li class="menu-item">
                  <%= link_to 'Spot Search', tour_selects_path %></a>
                </li>

                <!-- Blog -->
                <li class="menu-item">
                  <%= link_to 'Route Select', selects_destinations_path %></a>
                </li>

                <!-- Places -->
                <li class="menu-item">
                  <%= link_to 'Setting', edit_destination_path(id: session[:destination_id]) %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sayit_menu_mobile">
    <ul class="sayit_menu">
      <!-- Start Here -->
      <li class="menu-item-has-children menu-item current-menu-ancestor">
        <a href="javascript:void(0)">Start Here</a>

        <ul class="sub-menu">
          <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
          <li class="menu-item"><a href="about.html">About Me</a></li>
          <li class="menu-item"><a href="plan_trip.html">Plan Your Trip</a></li>
        </ul>
      </li>

      <!-- Blog -->
      <li class="menu-item-has-children menu-item">
        <a href="javascript:void(0)">Blog</a>

        <ul class="sub-menu">
          <li class="menu-item"><a href="blog_classic.html">Blog Classic</a></li>
          <li class="menu-item"><a href="blog_modern.html">Blog Modern</a></li>
          <li class="menu-item"><a href="blog_grid.html">Blog Grid</a></li>
          <li class="menu-item"><a href="blog_masonry.html">Blog Masonry</a></li>
          <li class="menu-item"><a href="blog_masonry_2.html">Blog Masonry Type 2</a></li>
          <li class="menu-item"><a href="blog_packery.html">Blog Packery</a></li>
          <li class="menu-item-has-children menu-item">
            <a href="javascript:void(0)">Single Posts</a>

            <ul class="sub-menu">
              <li class="menu-item"><a href="post_standard.html">Standard Post</a></li>
              <li class="menu-item"><a href="post_image.html">Image Post</a></li>
              <li class="menu-item"><a href="post_video.html">Video Post</a></li>
              <li class="menu-item"><a href="post_audio.html">Audio Post</a></li>
              <li class="menu-item"><a href="post_quote.html">Quote Post</a></li>
              <li class="menu-item"><a href="post_link.html">Link Post</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Places -->
      <li class="menu-item-has-children menu-item">
        <a href="javascript:void(0)">Places</a>

        <ul class="sub-menu">
          <li class="menu-item"><a href="places_usa.html">USA</a></li>
          <li class="menu-item"><a href="places_india.html">India</a></li>
          <li class="menu-item"><a href="places_germany.html">Germany</a></li>
          <li class="menu-item"><a href="places_turkey.html">Turkey</a></li>
          <li class="menu-item"><a href="places_italy.html">Italy</a></li>
          <li class="menu-item"><a href="places_uk.html">United Kingdom</a></li>
          <li class="menu-item"><a href="places_france.html">France</a></li>
        </ul>
      </li>

      <!-- Pages -->
      <li class="menu-item-has-children menu-item">
        <a href="javascript:void(0)">Pages</a>

        <ul class="sub-menu">
          <li class="menu-item"><a href="typography.html">Typography</a></li>
          <li class="menu-item"><a href="coming_soon.html">Coming Soon</a></li>
        </ul>
      </li>

      <!-- Contacts -->
      <li class="menu-item"><a href="contacts.html">Contacts</a></li>
    </ul>
  </div>
</header>
<div class="sayit_empty_item"></div>

<!-- Content -->
<%= yield %>

<!-- Footer -->
<div class="sayit_footer">
  <!-- Footer Instagram -->
  <% if false %>
      <div class="sayit_photostream">
        <div class="instagallery">
          <!-- Item 1 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-1.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								0
							</span>
						</span>
            </a>
          </div>

          <!-- Item 2 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-2.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
            </a>
          </div>

          <!-- Item 3 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-3.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
            </a>
          </div>

          <!-- Item 4 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-4.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
            </a>
          </div>

          <!-- Item 5 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-5.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								0
							</span>
						</span>
            </a>
          </div>

          <!-- Item 6 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-6.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
            </a>
          </div>

          <!-- Item 7 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-7.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
            </a>
          </div>

          <!-- Item 8 -->
          <div class="ig-item">
            <a href="javascript:void(0)">
              <img src="/images/front/clipart/instagram/img-8.jpg" alt="" />

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								0
							</span>
						</span>
            </a>
          </div>
        </div>
      </div>
  <% end %>

  <!-- Back To Top -->
  <a class="sayit_back_to_top" href="javascript:void(0)">Top</a>

  <footer class="sayit_footer_type_simple">
    <div class="row">
      <div class="col col-12">
        <div class="row align-middle">
          <div class="col col-2 sayit_footer_logo_container">
            <a class="sayit_image_logo sayit_retina" href="/"></a>
          </div>

          <% if false %>
              <div class="col col-10 sayit_footer_menu_container">
                <div class="menu-footer-menu-container">
                  <ul class="sayit_footer_menu">
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="blog_modern.html">Blog</a></li>
                    <li class="menu-item"><a href="typography.html">Typography</a></li>
                    <li class="menu-item"><a href="contacts.html">Contacts</a></li>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- JS Files -->
<%= javascript_include_tag 'front/jquery.min.js',
                           'front/vanilla-tilt.min.js',
                           'front/main.js' %>

<%= javascript_include_tag 'front/owl.carousel.min.js' if controller_name == 'contents' %>
<%= yield :javascripts %>
</body>
</html>

<script>
  $(function() {
    var API_KEY = '252609b190b3b599bcda16a1c6d0d081'
    var city = 'Tokyo';
    var url = 'https://api.openweathermap.org/data/2.5/forecast?q=' + city + ',jp&units=metric&APPID=' + API_KEY;
    $.ajax({
          url: url,
          dataType: "json",
          type: 'GET',
        })
        .done(function(data) {
          var insertHTML = "";
          var cityName = '<h2>' + data.city.name + '</h2>';
          $('#city-name').html(cityName);
          for (var i = 0; i <= 20; i = i + 2) {
            insertHTML += buildHTML(data, i);
          }
          $('#weather').html(insertHTML);
        })
        .fail(function(data) {
          console.log("失敗しました");
        });
  });

  function buildHTML(data, i) {
    var Week = new Array("（日）","（月）","（火）","（水）","（木）","（金）","（土）");
    var date = new Date (data.list[i].dt_txt);
    date.setHours(date.getHours() + 9);
    var month = date.getMonth()+1;
    var day = month + "月" + date.getDate() + "日" + Week[date.getDay()] + date.getHours() + "：00";
    var icon = data.list[i].weather[0].icon;
    var html =
        '<div class="sayit_blog_item post_item_standard">' +
        '<a class="sayit_blog_item_wrapper" href="#">' +
        '<div class="row">' +
        '<div class="col col-3 sayit_blog_item_fimage_cont sayit_js_bg_image">' +
        '<img src="http://openweathermap.org/img/w/' + icon + '.png" style="height: 70px; width: 70px;">' +
        '</div>' +
        '<div class="col col-9 sayit_blog_item_content_cont">' +
        '<div class="sayit_blog_item_category">' +
        '<div class="sayit_post_categories">' + day + '</div>' +
        '</div>' +
        '<div class="sayit_post_date">'+ data.list[i].weather[0].main + '</div>' +
        '<div class="sayit_post_date">' + Math.round(data.list[i].main.temp) + '℃</div>' +
        '</div>' +
        '</div>' +
        '</a>' +
        '<div class="sayit_blog_item_divider"></div>' +
        '</div>';
    return html
  }
</script>